mat-card {
    width: 400px;
    border-radius: 16px;
    text-align: center;
}

.btn-send {
    color: white;
    background-color: rgb(238, 202, 0);
    outline: none;
}

mat-card-title {
    padding: 16px;
    font-size: 2rem;
    color: rgb(255, 51, 0);
    margin-bottom: 10px;
}

mat-card-subtitle {
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: start;
}