<div class="container-fluid">
    <div class="col-lg-8 offset-4">
        <mat-card>
            <mat-card-title>ลืมรหัสผ่าน?</mat-card-title>
            <mat-card-subtitle>
                โปรดป้อนอีเมลของคุณเพื่อทำการเปลี่ยนรหัสผ่าน
            </mat-card-subtitle>
            <form class="px-3 pb-3" [formGroup]="form" (submit)="onSubmit()">
                <mat-form-field class="d-block">
                    <mat-label>ที่อยู่อีเมล</mat-label>
                    <input matInput placeholder="ที่อยู่อีเมล" formControlName="email" required>
                    <mat-error *ngIf="form.get('email')!.hasError('required')">กรุณากรอกอีเมล</mat-error>
                    <mat-error *ngIf="form.get('email')!.hasError('email')">รูปแบบของอีเมลไม่ถูกต้อง</mat-error>
                </mat-form-field>

                <button type="submit" class="btn-send mt-3 mb-3 w-100" mat-raised-button>
                    ดำเนินการต่อ
                </button>

                <div class="text-center">
                    <a routerLink="/authentication/login">กลับไปที่การเข้าสู่ระบบ</a>
                </div>
            </form>
        </mat-card>
    </div>
</div>