<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <mat-card>
            <mat-card-title class="py-2">
                <mat-icon>note_add</mat-icon>เพิ่มข้อมูล
            </mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content class="p-3">

                <form [formGroup]="form" (submit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="d-block">
                                <mat-label>ชื่อ</mat-label>
                                <input type="text" matInput formControlName="name" required>
                                <mat-error *ngIf="form.get('name')!.hasError('required')">กรุณากรอกชื่อ</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="d-block">
                                <mat-label>ชนิด</mat-label>
                                <mat-select formControlName="type" required>
                                    <mat-option [value]="type" *ngFor="let type of vaccinetype">
                                        {{ type }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('type')!.hasError('required')">กรุณาเลือก</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="d-block">
                                <mat-label>หมายเลขซีเรียล</mat-label>
                                <input type="text" matInput formControlName="serail" required>
                                <mat-error *ngIf="form.get('serail')!.hasError('required')">กรุณากรอกหมายเลขซีเรียล
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="d-block">
                                <mat-label>วันหมดอายุ</mat-label>
                                <input type="date" matInput formControlName="exp" required>
                                <mat-error *ngIf="form.get('exp')!.hasError('required')">กรุณาระบุวันหมดอายุ</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <button (click)="inputFile.click()" type="button" mat-stroked-button class="w-100 ">
                            <mat-icon>image</mat-icon> Upload Image
                        </button>
                        <input (change)="onChangeFile(inputFile)" type="file" #inputFile hidden>
                    
                    </div>

                    <div class="col-lg-6" >
                        <img [src]="getFileUpload" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/maetamvetclinic.appspot.com/o/web-images%2Fno-image.png?alt=media&token=b157b5e8-4e4a-49d6-92c6-6280a994f464'"
                            class="img-upload">
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <button routerLink="/vaccine" mat-button class="btn w-100" type="button">
                                <mat-icon>arrow_back</mat-icon>ย้อนกลับ
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <button mat-raised-button class="btn-add w-100">
                                <mat-icon>save</mat-icon>บันทึก
                            </button>
                        </div>
                    </div>
                </form>

            </mat-card-content>
        </mat-card>
    </div>
</div>