@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

mat-card {
    width: 380px;
    border-radius: 16px;
}

mat-card-subtitle {
    text-align: center;
}

button {
    outline: none;
}

.button-signin {
    color: white;
    background-color: rgb(44, 218, 116);
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(235, 57, 116);
    text-align: end;
    margin-right: 15px;
    margin-top: 6px;
    font-weight: bold;
}

h1 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(27, 155, 155);
}

h3 {
    vertical-align: text-bottom;

    a {
        text-decoration: none;
        font-size: 29px;
        color: rgb(6, 136, 223);


        .brand-link {
            text-decoration: none;
        }

        &:hover {
            color: rgb(6, 94, 177);
        }
    }
}

.column {
    float: right;
    width: 50%;
}

.card-one {
    padding: 10px;
    text-align: start;
    margin-top: 10px;
    margin-left: 20px;

    img {
        margin-top: 30px;
    }
}

@media screen and (max-width: 750px) {
    .column {
        width: 100%;
    }
}