<div class="container-fluid">
    <div class="row">
        <div class="column">
            <div class="card-one">
                <h1>Maetam vet clinic</h1>
                <h3><a class="brand-link Mitr-light" href="https://www.facebook.com/maetamvetclinic" target="_blank">
                        <mat-icon style="font-size: 27px;">facebook</mat-icon>
                        คลินิกแม่ต๋ำรักษาสัตว์
                        <mat-icon>link</mat-icon>
                    </a></h3>
                <img src="https://firebasestorage.googleapis.com/v0/b/maetamvetclinic.appspot.com/o/web-images%2Flogin-logo.png?alt=media&token=be2ef9e4-62cb-45a4-9931-ea59c5c1eb2f"
                    alt="Login logo">
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="column">
            <mat-card>
                <div class="card-two">
                    <h2>Login</h2>
                    <form class="px-3 pb-3" [formGroup]="form">
                        <mat-form-field class="d-block">
                            <mat-label>ที่อยู่อีเมล</mat-label>
                            <input matInput placeholder="ที่อยู่อีเมล" formControlName="email" required>
                            <mat-error *ngIf="form.get('email')!.hasError('required')">กรุณากรอกอีเมล</mat-error>
                            <mat-error *ngIf="form.get('email')!.hasError('email')">รูปแบบของอีเมลไม่ถูกต้อง</mat-error>
                        </mat-form-field>

                        <mat-form-field class="d-block">
                            <mat-label>รหัสผ่าน</mat-label>
                            <input type="password" matInput placeholder="รหัสผ่าน" formControlName="password" required>
                            <mat-error *ngIf="form.get('password')!.hasError('required')">กรุณากรอกรหัสผ่าน</mat-error>
                        </mat-form-field>
                        <button (click)="onSubmit()" type="submit" class="button-signin mt-4 mb-3 w-100"
                            mat-raised-button>
                            เข้าสู่ระบบ
                        </button>
                        <mat-card-subtitle>หรือ</mat-card-subtitle>
                        <button type="submit" class="mt-0 mb-2 w-100" mat-raised-button color="warn"
                            (click)="ongoogleLogin()">
                            <mat-icon>email</mat-icon>
                            เข้าสู่ระบบด้วยบัญชี Gmail
                        </button>
                        <button type="submit" class="mt-2 mb-2 w-100" mat-raised-button color="primary"
                            (click)="onfacebookLogin()">
                            <mat-icon>facebook</mat-icon>
                            เข้าสู่ระบบด้วยบัญชี Facebook
                        </button>
                        <div class="text-center">
                            <a routerLink="/authentication/forgot-password">ลืมรหัสผ่าน?</a>
                        </div>
                        <div class="text-center">
                            คุณยังไม่บัญชีใช่หรือไม่? <a routerLink="/authentication/register">ลงทะเบียน</a>
                        </div>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</div>