<mat-card>
    <mat-card-title>
        <mat-icon>medication</mat-icon> วัคซีน
    </mat-card-title>

    <mat-card-content>
        <div class="row">
            <div class="col-lg-6 text-left">
                <mat-form-field class="search w-3">
                    <mat-label>ค้นหา</mat-label>
                    <input type="text" matInput #input>
                </mat-form-field>
                <button type="button" mat-icon-button class="btn-search text-muted" (click)="applyFilter(input)">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="col-lg-6 text-right">
                <button routerLink="/vaccine/create" mat-fab class="btn-add">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>

        <table matSort mat-table [dataSource]="dataSource" class="w-100">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
                <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อวัคซีน </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชนิด </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="serail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเลขซีเรียล </th>
                <td mat-cell *matCellDef="let element"> {{element.serail}} </td>
            </ng-container>

            <ng-container matColumnDef="exp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันหมดอายุ </th>
                <td mat-cell *matCellDef="let element"> {{element.exp}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th class="text-right" mat-header-cell *matHeaderCellDef> Action </th>
                <td class="text-right" mat-cell *matCellDef="let element">
                    <button class="btn" (click)="onUpdate(element)" style="margin-right: 5px;" type="button"
                        mat-mini-fab color="primary">
                        <mat-icon style="font-size: 20px; vertical-align: middle;">edit</mat-icon>
                    </button>

                    <button class="btn" (click)="onDelete(element)" type="button" mat-mini-fab color="warn">
                        <mat-icon style="font-size: 20px; vertical-align: middle;">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>

    </mat-card-content>
</mat-card>