<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <mat-card>
      <mat-card-title class="mb-3">
        สัตว์เลี้ยง
      </mat-card-title>
      <mat-divider></mat-divider>

      <mat-card-content class="p-3">
        <form class="row" [formGroup]="form" (submit)="onSubmit(f)" #f="ngForm">
          <div class="col-lg-9">
            <mat-form-field class="d-block">
              <mat-label>ชื่อสัตว์เลี้ยง</mat-label>
              <input type="text" matInput formControlName="name" required>
              <mat-error *ngIf="form.get('name')!.hasError('required')">กรุณากรอกข้อมูล</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <button type="submit" mat-raised-button color="primary" class="w-100">เพิ่ม</button>
          </div>
        </form>

        <mat-list>
          <div mat-subheader class="p-0">
            <mat-icon class="mr-2">article</mat-icon>สัตว์เลี้ยง
          </div>
          <mat-divider></mat-divider>
          
          <mat-list-item *ngFor="let item of items">
            <mat-icon mat-list-icon>pets</mat-icon>

            <div *ngIf="!item.active" mat-line>{{item.name}}</div>
            <small *ngIf="!item.active" mat-line>{{item.species}}</small>

            <div mat-line *ngIf="item.active">
              <mat-form-field>
                <input type="text" matInput [ngModel]="item.name" #model="ngModel" required>
              </mat-form-field>
              <button class="ml-2" mat-raised-button color="primary" type="button" (click)="onEdit(item, model)">
                บันทึก
              </button>
              <button class="ml-2" mat-raised-button type="button" (click)="item.active = false">
                ปิด
              </button>
            </div>

            <button type="button" mat-icon-button (click)="onShowEdit(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button color="warn" (click)="onDelete(item)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>
</div>