<!-- <div class="row mt-3" *ngIf="userLogin">
    <div class="col-lg-6 offset-lg-3">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="account-icon">account_circle</mat-icon>
                </div>
                <mat-card-title>
                    Welcome
                </mat-card-title>
                <mat-card-subtitle>
                    <p>เข้าสู่ระบบโดย {{ userLogin.email }}</p>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>บัญชีถูกสร้างเมื่อ : {{ userLogin.metadata.creationTime }}</p>
                <p>เข้าสู่ระบบล่าสุดเมื่อ : {{ userLogin.metadata.lastSignInTime }}</p>

                <div class="text-right mt-4">
                    <span class="text-success d-inline-block mr-3" *ngIf="userLogin.emailVerified">
                        <mat-icon>privacy_tip</mat-icon> ยืนยันอีเมล์แล้ว
                    </span>

                    <a (click)="onVerifyEmail()" class="text-warning d-inline-block mr-3" *ngIf="!userLogin.emailVerified">
                        <mat-icon>privacy_tip</mat-icon> ยังไม่ได้ยืนยันอีเมล์
                    </a>
                    
                    <button class="btn" (click)="onLogout()" mat-raised-button color="warn">
                        <mat-icon>logout</mat-icon> ออกจากระบบ
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->


<div class="row">
    <div class="col">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>pets</mat-icon>
                    สถิติสัตว์เลี้ยง
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="pet-stat">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>pets</mat-icon>
                    สถิติสัตว์เลี้ยง
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="pet-stat">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="pieChartType">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>