.account-icon {
    font-size: 45px;
}

a.text-warning {
    cursor: pointer;
    text-decoration: none;
}

mat-card {
    border-radius: 16px;
}

.btn {
    outline: none;
}

.pet-stat {
    padding: 15px;
}

.mat-card-title {
    margin-top: 16px;
}