mat-card {
    border-radius: 16px;
}

.img-upload {
    border-radius: 0px;
    padding: 10px;
    text-align: center;
}

.image-row {
    margin-bottom: 10px;
}

mat-card-title {
    padding: 8px;
    color: rgb(50, 91, 205);
    margin-left: 20px;
}

.btn,
.btn-add {
    outline: none;
}

.btn-add {
    background-color: rgb(50, 91, 205);
    color: white;
}