mat-card {
    border-radius: 16px;
}

mat-card-title {
    padding: 8px;
    color: rgb(50, 91, 205);
    margin-left: 20px;
}

.btn,
.btn-add {
    outline: none;
}

.btn-add {
    background-color: rgb(50, 91, 205);
    color: white;
}