<mat-card>
    <mat-card-title>
        <mat-icon>event</mat-icon>
        การนัดหมาย
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <div class="left-card">
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <jqxScheduler #schedulerReference [date]="date" [width]="800" [height]="600" [source]="dataAdapter"
                        [showLegend]="false" [view]="'monthView'" [appointmentDataFields]="appointmentDataFields"
                        [resources]="resources" [views]="views">
                    </jqxScheduler>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>