<mat-toolbar color="primary">
    <div class="container">
        <div class="d-flex">
            <a routerLink="/" class="brand-link">
                <div class="mr-4">
                    <mat-icon>home</mat-icon>
                    <span>Meatum clinic</span>
                </div>
            </a>

            <div class="nav-menu ml-auto">
                <a href="" class="mr-4" routerLinkActive="active">
                    <mat-icon>person</mat-icon> Profile
                </a>
                <a href="" class="mr-4" routerLinkActive="active">
                    <mat-icon>pets</mat-icon> Pets Profile
                </a>
                <a href="" class="mr-4" routerLinkActive="active">
                    <mat-icon>pending_actions</mat-icon> History
                </a>
                <a href="" class="mr-4" routerLinkActive="active">
                    <mat-icon>colorize</mat-icon> Vaccine
                </a>
                <a routerLink="/authentication" class="mr-4" routerLinkActive="active">
                    
                    <mat-icon>lock</mat-icon> loginss
                </a>
            </div>
        </div>
    </div>
</mat-toolbar>