<mat-toolbar>
    <div class="container">
        <div class="d-flex">
            <a routerLink="/" class="brand-link">
                <div class="mr-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/maetamvetclinic.appspot.com/o/web-images%2Fclinic-icon.png?alt=media&token=9b3c0083-d223-4bf0-8750-394c8248f5d2"
                        height="25px" width="25px" alt="Clinic logo">
                    <span class="ml-1">Maetam vet Clinic</span>
                </div>
            </a>

            <div class="nav-menu ml-auto">
                <a href="" class="mr-3" routerLinkActive="active">
                    <mat-icon>person</mat-icon>Profile
                </a>
                <a routerLink="/pets-profile" class="mr-3" routerLinkActive="active">
                    <mat-icon>pets</mat-icon>Pets Profile
                </a>
                <a href="" class="mr-3" routerLinkActive="active">
                    <mat-icon>pending_actions</mat-icon>History
                </a>
                <a routerLink="/vaccine" class="mr-3" routerLinkActive="active">
                    <mat-icon>colorize</mat-icon>Vaccine
                </a>
            </div>
            <button routerLink="/authentication" class="button-login mr-1" routerLinkActive="active"
                mat-flat-button>
                Login
            </button>
        </div>
    </div>
</mat-toolbar>


<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav mode="over" #sidenav opened position="start">
        left panel
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            My Application
            <span class="toolbar-spacer"></span>
            My Account
        </mat-toolbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->