a {
    color: rgb(100, 100, 100);

    &.brand-link {
        text-decoration: none;
    }
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.mat-elevation-z3 {
    background-color: #ffffff;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 55px;
}

.nav-menu a {
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

    &:hover,
    &.active {
        color: rgb(236, 45, 141);
    }

}

mat-icon {
    font-size: 16px;
    vertical-align: text-top;
}

.btn-login {
    color: white;
    background-color: rgb(40, 174, 197);
    outline: none;
    margin-left: 40px;
}

span {
    font-size: 18px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}


// mat-sidenav {
//     width: 280px;
//     padding:15px;
// }
// .mat-drawer { 
//     background-color: #023075;
//     color:#fff
// }
// .main-content {
//     padding:20px;
// }