a {
    color: white;

    &.brand-link {
        text-decoration: none;
    }
}

.nav-menu a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    
    &:hover,
    &.active {
        color: white;
    }

}

mat-icon {
    vertical-align: text-bottom;
}