.head-card{
    text-align: center;
    color: white;
    background-color: rgb(17, 143, 201);
    border-top-left-radius: 14px;
    border-top-right-radius: 16px;
}

.bot-card{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}