mat-card {
    text-align: center;
    margin-left: 120px;
    width: 380px;
    border-radius: 16px;
}

.btn-regis {
    color: white;
    background-color: rgb(27, 199, 119);
    outline: none;
}

@media screen and (max-width: 750px) {
    .column {
        width: 100%;
    }
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 25px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(238, 97, 32);
}

.card-two {
    text-align: center;
    margin-left: 130px;
    margin-top: 90px;
}